/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require components-font-awesome
 *= require_self
 *= require_tree .
 */
@import 'bootstrap-datetimepicker';
#footer {
  color: #999;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

.no-float {
  float: none;
}
.field_with_errors {
  display: inline-block;
  width: 100%;
}
.field_with_errors input {
  border: 1px solid red;
}


.field {
  margin-top: 10px;
}

.btn.btn-lg {
  margin-top: 10px;
}
